#demoFont {
    font-family: Impact, Charcoal, sans-serif;
    font-size: 30px;
    letter-spacing: 0.4px;
    word-spacing: 2.6px;
    color: #7BD4C2;
    font-weight: 200;
    text-decoration: none;
    font-style: italic;
    font-variant: small-caps;
    text-transform: capitalize;
    }